{% extends "ews/base.html" %}

{% load static %}

{% block body %}
<div class="container" style="padding: 5%">

    <div class="row">      

        <div class="col-sm-6">
            <h2 class="title headline">Register</h2>
            {% if message %}<div class="alert alert-danger">{{ message }}</div>{% endif %}
            <form action="{% url 'ews:register' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input class="form-control" autofocus type="text" name="username" placeholder="Username">
                </div>
                <div class="form-group">
                    <input class="form-control" type="email" name="email" placeholder="Email Address">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
                </div>
                <input class="btn btn-primary" type="submit" value="Register">
            </form>            
            Already have an account? <a class = "text_link_kwb" href="{% url 'login' %}">Log In here.</a>
        </div>
        
        <div class="col-sm-5 offset-sm-1" >
            <img class= "img-fluid" src="{% static "ews/img/DWC-RVB-COLOR.svg" %}" width = "80%" alt="...">
            <img class= "img-fluid" src="{% static "ews/img/decision-support-systems-round.png" %}" width = "40%" alt="...">
            <img class= "img-fluid" src="{% static "ews/img/open-source-software-round.png" %}" width = "40%" alt="...">
        </div>

    </div> <!-- row -->

</div> <!-- container -->
{% endblock %}
