django
tablib
django-import-export
django-crispy-forms
plotly
pandas
django-pandas
numpy
scikit-learn
django-leaflet
django-geojson
jsonfield
requests
requests_oauthlib
statsmodels
#gdal
jupyter
django-extensions
shapely
geojson
django-crispy-forms
sklearn
celery
redis
django-celery-beat
python-decouple
unidecode
skranger